a.navbar-brand {
    padding: 0px;
}
a.navbar-brand img {
    height: 40px;
}
a.navbar-brand b {
    vertical-align: middle;
}

.myBG {
    background-color: #0f58a1 !important;
}













